.mapContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: aquamarine; */
}

.coords{
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
}